<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/TT Phobos Trial Regular.otf</string>
		<string>Fonts/TT Phobos Trial Bold.otf</string>
		<string>Fonts/TT Phobos Trial DemiBold.otf</string>
		<string>Fonts/TT Phobos Trial Light.otf</string>
		<string>Fonts/TT Phobos Trial Italic.otf</string>
		<string>Fonts/TT Phobos Trial Bold Italic.otf</string>
	</array>
</dict>
</plist>
